@font-face{
    font-family: myFont;
    src: url(../resources/fonts/iAWriterMonoS-Regular.woff)
}

:root {
    --dark-bg: #161616;
    --dark-folder-bg: #121212;
    --dark-selected-folder-bg: #313131;
    --dark-selected-folder-border: #939b9e;
    --dark-text: #F6F6F6; 
    --dropdown-placeholder-text-dark: #9CA3AF;
}

body {
    background-color: var(--dark-bg);
    font-family: myFont;
    overflow-x: hidden;
    margin: 0;
    color: var(--dark-text);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

p {
    margin: 0;
    font-size: 18px;
}

input {
    background-color: transparent;
    color: var(--dark-text);
    all: unset;
}

.flex {
    display: flex;
}

.col{
    flex-direction: column;
}

.full {
    width: 100%;
}
.tiptap {
  outline: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  letter-spacing: 0.4px;
  color: #EDEDED;  
  padding-left: 32px;
}
.home-container{
  width: 100vw;
  height: 100vh;
}
p {
  font-size: 15px;
}
.sidebar{
  border-right: 2px solid #22232E;
  padding: 4% 2% 4% 2%; 
  box-sizing: border-box;
  color: #EDEDED;
}
